body{
    background-color: #e3d7d7;
    font: 1em sans-serif;
}

.container{
    border-radius: 5px;    
    width: 250px;
    height: auto;
    position: relative;
}

footer{
    background-color: gray;
}

.description{
    background-color: rgb(201, 201, 201);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.recipeImage{
    background-image: url(../img/receita1.jpg);
    background-position: center center;
}
